.nav {

    width: 100%;
    height: 10vh;
    font-size: 170%;

    font-family: "Open Sans",Sans, sans-serif;

    box-shadow: 10px 0 5px grey;

    z-index: 5;

    -webkit-transition: height 250ms ease;
    -moz-transition: height 250ms ease;
    -o-transition: height 250ms ease;
    transition: height 250ms ease;

    will-change: height;
}


.nav-fixed {
    position: fixed;
    top:0;
    left:0;

}

.nav > div {
    width: auto;
    float: left;

}

.nav .nav-image {
    width: 30%;
    height: 100%;

}

.nav-image::before, .nav-image::after {
    display: block;
    content: "";
    height: 5%;
}





.nav .label {
    width: 20%;
    height: 100%;

}

.nav .nav-image img {
    float: left;

    height: 90%;


}

.nav .label label {

    float: left;
}

.nav .right {
    width: 50%;
    font-size: 70%;
    height: 100%;

    -webkit-transition: font-size 250ms ease;
    -moz-transition: font-size 250ms ease;
    -o-transition: font-size 250ms ease;
    transition: font-size 250ms ease;

    will-change: font-size;
}


.drop-down-menu {

    margin: 0;
}


.drop-down-menu li {

    list-style: none;
    padding: 1em;
}

.drop-down-menu li:hover {
    color: #002557;
    cursor: pointer;

}

.drop-down-menu li:hover a {


    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
}


.drop-down-menu li a {

    text-align: center;
    padding: 1em 16px;
    display: block;
    border-bottom: 1px solid transparent;
}

.drop-down-menu > li {
    float:left;
    display:inline-block;
    position:relative;
}


/** Bottom level **/
.drop-down-menu li:hover .sub-menu {
    z-index:1;
    opacity:1;
    max-height: 300px;
}
.sub-menu {
    clear: both;
    width:160%;
    position:absolute;
    top:100%;
    left:0px;
    z-index:1;
    opacity:1;

    background-color: white; /*#F9F9F9*/
    max-height: 0;
    overflow: hidden;


    box-shadow: 5px 5px 4px grey;


    -webkit-transition:max-height 500ms ease;
    -moz-transition:max-height 500ms ease;
    -o-transition:max-height 500ms ease;
    transition:max-height 500ms ease;
}

.sub-menu li {
    display: block;
    border-bottom: 1px solid #002557;

}


.clear {
    clear:both;
}

/**
class for big nav bar
 */
