.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.lidl-imagebox.impress-slider {
  font-size: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}
.lidl-imagebox.impress-slider .lidl-imagebox-container {
  overflow: hidden;
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider {
  width: 500%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  background: #000;
  color: #BBB;
  -webkit-transition: transform 2s cubic-bezier(0.65, 0.05, 0.36, 1);
  -moz-transition: transform 2s cubic-bezier(0.65, 0.05, 0.36, 1);
  -o-transition: transform 2s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: transform 2s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab {
  flex: 1 1 20%;
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab .impress-inner {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  font-size: 70% !important;
  height: 100%;
}
@media only screen and (min-width: 75em) {
  .lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab .impress-inner {
    font-size: 90% !important;
  }
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab .impress-inner .impress-link {
  flex: 1 1 min-content;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
  margin-bottom: 35px;
  margin-top: 0.5em;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab .impress-inner .impress-link {
    margin-bottom: 60px;
    margin-top: 0;
  }
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab .impress-inner .impress-link .link-wrapper {
  flex: 0 0 min-content;
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab .impress-inner .impress-text {
  flex: 1 1 auto;
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab .bg-img .bg-helper {
  opacity: 0;
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab .bg-img .impress-container {
  background-color: rgba(0, 0, 0, 0.7) !important;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab .bg-img .impress-container {
    background-color: rgba(0, 0, 0, 0.7) !important;
  }
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab.transition-in .bg-img .bg-helper {
  -webkit-transition: opacity 1.5s ease;
  -moz-transition: opacity 1.5s ease;
  -o-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
  transition-delay: 2s;
  opacity: 1;
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .lidl-imagebox-slider .impress-slider-tab.transition-out .bg-img .bg-helper {
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease;
  opacity: 0;
}
.lidl-imagebox.impress-slider .lidl-imagebox-container .impress-text {
  padding: 1em 5% 1em 5%;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav {
  font-size: 70%;
  padding: 0 5px 20px 5px;
  background-color: transparent;
  color: #BBB;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .lidl-imagebox.impress-slider .lidl-imagebox-nav {
    padding: 25px 5px 45px 5px;
  }
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-right {
  width: 100% !important;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-right .lidl-imagebox-image {
  width: 70% !important;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-bottom .lidl-imagebox-nav-label {
  margin-right: auto;
  margin-left: auto;
  position: relative;
  width: 80% !important;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-bottom .lidl-imagebox-nav-label:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #999;
  position: absolute;
  bottom: 7px;
  left: 0;
  z-index: 1;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-bottom .lidl-imagebox-nav-label .nav-dot {
  float: left;
  display: block;
  margin-left: calc(25% - 2em);
  width: 15px;
  height: 15px;
  background-color: #555;
  border: 1px solid #333;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-bottom .lidl-imagebox-nav-label .nav-dot:first-of-type {
  margin-left: 1em;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-bottom .lidl-imagebox-nav-label .nav-dot-active {
  position: relative;
  -webkit-transition: background-color 0 ease;
  -moz-transition: background-color 0 ease;
  -o-transition: background-color 0 ease;
  transition: background-color 0 ease;
  background-color: #c31d34;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-arrows .nav-arrow {
  position: absolute;
  z-index: 10;
  width: 5%;
  height: 100%;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-arrows .nav-arrow:hover {
  cursor: pointer;
  color: #333;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-arrows .nav-arrow svg {
  margin: auto 0;
  width: 100%;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-arrows .nav-arrow.left {
  top: 50%;
  left: -5%;
}
.lidl-imagebox.impress-slider .lidl-imagebox-nav.nav-arrows .nav-arrow.right {
  top: 50%;
  right: -5%;
}
.lidl-imagebox.impress-slider.naviagtion-arrows {
  width: 90%;
  margin: 0 5%;
}
@-webkit-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
