#no-js-dash {
  z-index: 10;
  display: none;
  width: 100%;
  overflow: hidden;
  padding: 2em 5em;
  background-color: #f5f5f5;
  top: 0;
  position: fixed;
  height: auto;
  /*
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: 1;
*/
}
@keyframes example {
  from {
    height: 0;
  }
  to {
    height: auto;
  }
}
#no-js-dash #no-js-text {
  color: #c31d34;
  font-size: 100%;
  text-align: center;
}
.no-js #no-js-dash {
  display: block;
}
.no-js #wrapper {
  margin-top: 0;
}
.no-js #menu {
  position: relative  !important;
  width: 100%;
  top: 3px;
  left: 0;
  margin: 3px 0;
  background-color: #00293c;
  color: #f5f5f5;
}
.no-js .infobar {
  display: none;
}
.no-js .floating-button {
  display: none;
}
/* alignment from common.less */
.no-js .sec-label {
  top: 0 !important;
  height: 100vh;
}
.no-js .sec-label .active {
  background-color: inherit;
  color: inherit;
}
