@import 'color-rules.less';
@import 'variables.less';

#no-js-dash {
  z-index: 10;
  display: none;
  width: 100%;
  overflow: hidden;
  padding: 2em 5em;
  background-color: @content-bg-color;
  top: 0;

  position: fixed;
  height: auto;
/*
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: 1;
*/

}

@keyframes example {
  from {height: 0;}
  to {height: auto;}
}

#no-js-dash #no-js-text {

  color: @akzent-color;
  font-size: 100%;

  text-align: center;
}

.no-js #no-js-dash {
  //display: block;
}




.no-js .infobar {
  display: none;
}

.no-js .floating-button {
  display: none;
}


/* alignment from common.less */

.no-js .sec-label {

  top: 0 !important;
  height: 100vh;

}

.no-js .sec-label .active {
  background-color: inherit;
  color: inherit;
}
