.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.contact-box .contact-container {
  font-size: 80%;
}
.contact-box .contact-container.font100 {
  font-size: 100%;
}
.contact-box.slim .contact-container .contact-person {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #AAA;
}
.contact-box.slim .contact-container .contact-person .person-part {
  flex: 0 0 100%;
  float: left;
  position: relative;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-box.slim .contact-container .contact-person .person-part {
    flex: 0 0 50%;
  }
}
.contact-box.slim .contact-container .contact-person .person-image {
  max-width: 250px;
}
.contact-box.slim .contact-container .contact-person .person-image img {
  width: 100%;
  display: block;
}
.contact-box.slim .contact-container .contact-person .person-details {
  display: flex;
  flex-flow: column wrap;
}
.contact-box.slim .contact-container .contact-person .person-details > .spacer {
  flex: 1 0 auto;
}
.contact-box.slim .contact-container .contact-person .person-details > .wrapper {
  flex: 0 0 auto;
  position: relative;
  bottom: 0;
}
.contact-box.slim .contact-container .contact-person .person-details span.details {
  font-size: 90%;
}
.contact-box.slim .contact-container .contact-person .person-details span.details.name {
  font-weight: bold;
}
.contact-box.slim .contact-container .contact-person .person-details span.details.mail > a {
  font-size: 80%;
  font-weight: bold;
}
.contact-box.slim .contact-container span {
  display: block;
  margin: 1em;
}
.contact-box .contact-container:first-child {
  padding-top: 2em;
}
.contact-box .contact-container .contact-person {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #AAA;
}
.contact-box .contact-container .contact-person .person-part {
  flex: 0 0 100%;
  float: left;
  position: relative;
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  .contact-box .contact-container .contact-person .person-part {
    flex: 0 0 50%;
  }
}
.contact-box .contact-container .contact-person .person-image {
  max-width: 250px;
}
.contact-box .contact-container .contact-person .person-image img {
  width: 100%;
  display: block;
}
.contact-box .contact-container .contact-person .person-details {
  display: flex;
  flex-flow: column wrap;
}
.contact-box .contact-container .contact-person .person-details > .spacer {
  flex: 1 0 auto;
}
.contact-box .contact-container .contact-person .person-details > .wrapper {
  flex: 0 0 auto;
  position: relative;
  bottom: 0;
}
.contact-box .contact-container .contact-person .person-details span.details {
  font-size: 90%;
}
.contact-box .contact-container .contact-person .person-details span.details.name {
  font-weight: bold;
}
.contact-box .contact-container .contact-person .person-details span.details.mail > a {
  font-size: 80%;
  font-weight: bold;
}
.contact-box .contact-container span {
  display: block;
  margin: 1em;
}
