.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
@media only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
}
#content-top .highlight {
  font-size: 100%;
  color: #00293c;
  background-color: #f5f5f5;
  padding-right: 1ex;
  font-weight: bold;
  font-family: "Comfortaa Light", "Open Sans", Sans;
}
#content-top .impress--dies-emp {
  font-variant: small-caps;
  font-size: 110%;
}
#sec01 {
  width: 100%;
}
#sec01 #content01 #content01-img {
  min-height: 100%;
  background-image: url("/images/index/content/dies2021.jpg");
}
@media only screen and (max-width: 50em), only screen and (min-width: 75em), only screen and (min-width: 50em) and (max-width: 75em) and (orientation: landscape) {
  #sec01 #content01 #content01-img {
    min-height: auto;
    background-image: none;
  }
  #sec01 #content01 #content01-img .video-container {
    display: block;
  }
}
.link-external {
  color: #fff;
  font-size: 80% !important;
}
.link-external .link-external-icon {
  width: 0.75em;
  height: 0.75em;
  margin-left: 1ex;
}
.video-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  text-align: center;
}
@media only screen and (max-width: 50em) {
}
.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.impress--dies .impress-container {
  background-color: rgba(0, 0, 0, 0.5) !important;
  position: relative;
  z-index: 2;
}
.impress--dies .impress-container .impress-inner .impress-text .label {
  margin-bottom: 2em;
  font-variant: small-caps;
  color: #222;
  font-size: 130%;
  background-color: #efefef;
}
.impress--dies .impress-container .impress-inner .impress-text .impress-text-mono {
  font-family: Monospace;
}
.impress--dies .impress-container .impress-inner .impress-text .impress--dies-date {
  font-variant: small-caps;
  font-size: 110%;
}
.impress--dies .impress-container .impress-inner .impress-text .impress--dies-text {
  white-space: normal;
  font-size: 90%;
}
.impress--dies .impress-container .impress-inner .impress-text .impress--dies-text.margin-bottom {
  margin-bottom: 1em;
}
.impress--dies .impress-container .impress-inner .impress-text .impress--dies-text .double-line-wrapper {
  display: block;
  width: 100%;
  margin-bottom: 5px !important;
}
.impress--dies .impress-container .impress-inner .impress-text .impress--dies-text .double-line-wrapper .double-line {
  margin-bottom: 0 !important;
  display: inline-block;
  clear: both;
  float: none;
}
.impress--dies .impress-container .impress-inner .impress-text .impress--dies-text .highlight {
  font-size: 100%;
  color: #00293c;
  background-color: #f5f5f5;
  padding-right: 1ex;
  font-weight: bold;
  font-family: "Comfortaa Light", "Open Sans", Sans;
}
.impress--dies .impress-container .impress-inner .impress-text .impress--dies-text .impress--dies-emp {
  font-variant: small-caps;
  font-size: 110%;
}
