.theme-midnight .nav {
    background-color: #464646;
    color: #cbcbcb;
    border-bottom: 3px solid #ff9900;

}

.theme-midnight .nav-element {

}



.theme-midnight .drop-down-menu li:hover {
    /*color: #002557;*/
    color: #ff9900;
    cursor: pointer;

}

.theme-midnight .drop-down-menu li:hover a {
    /*border-bottom: 1px solid #ff9900;*/

    -webkit-transition: 500ms ease;
    -moz-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
}





/** Bottom level **/
